<!doctype html>
<html class="no-js lang-en currentView--works" lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Happy Birthday Sunshine <3</title>
        <meta name=robots content="index, follow">
       
        <meta property=og:image:type content=image/jpeg>
        <meta property=og:image:width content="934">
        <meta property=og:image:height content="942">
        <meta property=og:type content=website>
        
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#000000>
        <link rel=stylesheet type=text/css href="/public/build/front4848.css" media=all>
        <script>
            var config = {
                env: "production",
                lang: "en",
                pathAssets: "/public",
                pathRoot: "/"
            }
              , manifestImg = {
                dMapContact: "/public/img/wave.jpg",
                dMapLauncher: "/public/img/bump.jpg",
                spriteContact: "/public/img/smiley.png",
                spriteRevertContact: "/public/img/smiley-revert.png",
                spriteSolitaire: "/public/img/file.png"
            }
              , wording = {
                ctaFilter: "",
                ctaFilterClose: ""
            }
        </script>
    </head>
    <body>
        <div id=master>
            <header class=logo-index>
                <span><img src="/public/img/heart.png" style="width: 5%" alt=""></span>
            </header>
            <div class="ui none">
                <button class="btn-menu jsMainnav--trigger">
                    <div class=visuallyhidden>Menu</div>
                    <div class=shape>
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            <div class="main-nav none" id=jsView--mainnav>
                <div class=fill></div>
                <div class=main-nav__inner>
                    <nav class=primary-nav>
                        <menu class=primary-nav__menu>
                            <li data-slug="work">
                                <a href="work.html" class="jsMenu--listener jsMainnav--hover">Work</a>
                            </li>
                            <li data-slug="about">
                                <a href="about.html" class="jsMenu--listener jsMainnav--hover">About</a>
                            </li>
                            <li data-slug="contact">
                                <a href="contact.html" class="jsMenu--listener jsMainnav--hover">Contact</a>
                            </li>
                        </menu>
                        <div class="primary-nav__canvas jsCanvas"></div>
                    </nav>
                </div>
            </div>
            
            <div class=main-content id=barba-wrapper role=main>
                <div class="barba-container for--works" data-namespace="works">
                    <ul class=breadcrumb>
                        <li>Cutie Pie</li>
                    </ul>
                    <button class="btn-filter fxFilter jsDispatch--trigger jsDispatch--shortcut">
                        <span class=text></span>
                    </button>
                    <div class="btn-switch fxSwitch jsMode--trigger">
                        
                    </div>
                    <button class="btn-discover jsDiscover for--works">discover</button>
                    <div class="workspace-grid jsGrid--view">
                        <div class=gwrapper>
                            <h1 class="workspace__introduction" style="margin:0vh 0 5vh">
                                <div class=inner>
                                    
                                </div>
                            </h1>
                                                    
                            <div class=v-desktoptablet>
                                <div class="workspace-grid__collection jsDispatch--receptorGrid">
                                    <div class=cell>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/mom-dad.jpg" alt="" class=out>
                                                <img src="/public/images/mom-dad.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Mom, Dad n Bruno <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h3>
                                            <p class="h5 text__color--light">Thanks a lot to these two amazing beings for bringing you into this world. They have brought u up with love and u shared some of it with me <img src="/public/smileys/heart.png" style="width: 5%" alt=""> Again, Thanks a lot handsome Uncle and Cutie Auntie ji <img src="/public/smileys/blush.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/1.jpg" alt="" class=out>
                                                <img src="/public/images/1.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Sunshine <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h3>
                                            <p class="h5 text__color--light">Yes, this is the word that comes into my mind when i see this pic. So colorful and with an amazing smile <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/2.jpg" alt="" class=out>
                                                <img src="/public/images/2.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Yellow Yellow, Dirty Fellow</h3>
                                            <p class="h5 text__color--light">Hehe, you have what it takes to wear Bold colors and they still look fade in front of that smile you got <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/3.jpg" alt="" class=out>
                                                <img src="/public/images/3.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Selfie Queen</h3>
                                            <p class="h5 text__color--light">I don't know how u do it, how u can click so many selfies. But keep doing it <img src="/public/smileys/heart.png" style="width: 5%" alt=""> They always make me smile <img src="/public/smileys/blush.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/4.jpg" alt="" class=out>
                                                <img src="/public/images/4.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Teri adaaaaaaaaaa <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""></h3>
                                            <p class="h5 text__color--light">You look so beautiful <img src="/public/smileys/heart.png" style="width: 5%" alt=""> These eyes, so expressive and that innocent face of yours, I can only say 'Oh My God!' <img src="/public/smileys/heart.png" style="width: 5%" alt=""> <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> <img src="/public/smileys/kiss.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/5.jpg" alt="" class=out>
                                                <img src="/public/images/5.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Queen Bee</h3>
                                            <p class="h5 text__color--light">Hehe, yellow black dress ch ahi lgna u <img src="/public/smileys/tongue.png" style="width: 5%" alt=""> But noni aa boht pic. Snapchat rocks <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/6.jpg" alt="" class=out>
                                                <img src="/public/images/6.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Saadea ta lekha ch Black likhea <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></h3>
                                            <p class="h5 text__color--light">This dress is epic. Boht jayada noni lgg ri c u ede ch <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        </a>
                                    </div>
                                    <div class=cell>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/7.jpg" alt="" class=out>
                                                <img src="/public/images/7.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Beautiful and Strong</h3>
                                            <p class="h5 text__color--light">Yes, you are sensual as a flower and strong as a rock. The way you carry yourself, you always motivate me <img src="/public/smileys/hug.png" style="width: 5%" alt=""> Thanks a lot for guiding me and for being my strength <img src="/public/smileys/blush.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/8.jpg" alt="" class=out>
                                                <img src="/public/images/8.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Adaab!</h3>
                                            <p class="h5 text__color--light">Hehe eda di greetings mile ta hor ki chahida zindagi to <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/9.jpg" alt="" class=out>
                                                <img src="/public/images/9.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Cutie Pie <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h3>
                                            <p class="h5 text__color--light">One of my favorite pictures of you. So simple and so beautiful <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/10.jpg" alt="" class=out>
                                                <img src="/public/images/10.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Cutenes</h3>
                                            <p class="h5 text__color--light">This pic is the definition of cuteness. You smile like there is a child smiling, so cute and so innocent <img src="/public/smileys/hug.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/11.jpg" alt="" class=out>
                                                <img src="/public/images/11.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud">Pose No. 98789</h3>
                                            <p class="h5 text__color--light">Hahahha, ahi kuj kralo wehli jahi kolo. Pta ni kinne ku pose try kr kr k selfies lenia hundia u <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                        </a>
                                        <a href="#" class="workspace-grid__item jsItem">
                                            <div class=visual>
                                                <img src="/public/images/12.jpg" alt="" class=out>
                                                <img src="/public/images/12.jpg" alt="" class=in>
                                            </div>
                                            <h3 class="h4 text__color--loud"><img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> Damn <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""></h3>
                                            <p class="h5 text__color--light">Es pic lyi ta mai bs ahi kahaga, 'Paisea de wande si ga maut wand-da, ni Tenu dekhea ta zindagi naal pyaar ho gya' <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        </a>
                                        
                                        <a href="/story.html" class="workspace-grid__item jsItem next">
                                            <div>
                                                    <h3 class="h4 text__color--loud next">Next</h3>
                                            </div>
                                            
                                        </a>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class=v-mobile>
                                <div class="workspace-grid__collection jsDispatch--receptorGridMobile">
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/mom-dad.jpg" alt="" class=out>
                                            <img src="/public/images/mom-dad.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Mom, Dad n Bruno <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h3>
                                        <p class="h5 text__color--light">Thanks a lot to these two amazing beings for bringing you into this world. They have brought u up with love and u shared some of it with me <img src="/public/smileys/heart.png" style="width: 5%" alt=""> Again, Thanks a lot handsome Uncle and Cutie Auntie ji <img src="/public/smileys/blush.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/1.jpg" alt="" class=out>
                                            <img src="/public/images/1.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Sunshine <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h3>
                                        <p class="h5 text__color--light">Yes, this is the word that comes into my mind when i see this pic. So colorful and with an amazing smile <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/2.jpg" alt="" class=out>
                                            <img src="/public/images/2.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Yellow Yellow, Dirty Fellow</h3>
                                        <p class="h5 text__color--light">Hehe, you have what it takes to wear Bold colors and they still look fade in front of that smile you got <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/3.jpg" alt="" class=out>
                                            <img src="/public/images/3.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Selfie Queen</h3>
                                        <p class="h5 text__color--light">I don't know how u do it, how u can click so many selfies. But keep doing it <img src="/public/smileys/heart.png" style="width: 5%" alt=""> They always make me smile <img src="/public/smileys/blush.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/4.jpg" alt="" class=out>
                                            <img src="/public/images/4.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Teri adaaaaaaaaaa <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""></h3>
                                        <p class="h5 text__color--light">You look so beautiful <img src="/public/smileys/heart.png" style="width: 5%" alt=""> These eyes, so expressive and that innocent face of yours, I can only say 'Oh My God!' <img src="/public/smileys/heart.png" style="width: 5%" alt=""> <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> <img src="/public/smileys/kiss.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/5.jpg" alt="" class=out>
                                            <img src="/public/images/5.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Queen Bee</h3>
                                        <p class="h5 text__color--light">Hehe, yellow black dress ch ahi lgna u <img src="/public/smileys/tongue.png" style="width: 5%" alt=""> But noni aa boht pic. Snapchat rocks <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/6.jpg" alt="" class=out>
                                            <img src="/public/images/6.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Saadea ta lekha ch Black likhea <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></h3>
                                        <p class="h5 text__color--light">This dress is epic. Boht jayada noni lgg ri c u ede ch <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/7.jpg" alt="" class=out>
                                            <img src="/public/images/7.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Beautiful and Strong</h3>
                                        <p class="h5 text__color--light">Yes, you are sensual as a flower and strong as a rock. The way you carry yourself, you always motivate me <img src="/public/smileys/hug.png" style="width: 5%" alt=""> Thanks a lot for guiding me and for being my strength <img src="/public/smileys/blush.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/8.jpg" alt="" class=out>
                                            <img src="/public/images/8.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Adaab!</h3>
                                        <p class="h5 text__color--light">Hehe eda di greetings mile ta hor ki chahida zindagi to <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/9.jpg" alt="" class=out>
                                            <img src="/public/images/9.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Cutie Pie <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h3>
                                        <p class="h5 text__color--light">One of my favorite pictures of you. So simple and so beautiful <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/10.jpg" alt="" class=out>
                                            <img src="/public/images/10.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Cutenes</h3>
                                        <p class="h5 text__color--light">This pic is the definition of cuteness. You smile like there is a child smiling, so cute and so innocent <img src="/public/smileys/hug.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/11.jpg" alt="" class=out>
                                            <img src="/public/images/11.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud">Pose No. 98789</h3>
                                        <p class="h5 text__color--light">Hahahha, ahi kuj kralo wehli jahi kolo. Pta ni kinne ku pose try kr kr k selfies lenia hundia u <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="#" class="workspace-grid__item jsItem">
                                        <div class=visual>
                                            <img src="/public/images/12.jpg" alt="" class=out>
                                            <img src="/public/images/12.jpg" alt="" class=in>
                                        </div>
                                        <h3 class="h4 text__color--loud"><img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> Damn <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""></h3>
                                        <p class="h5 text__color--light">Es pic lyi ta mai bs ahi kahaga, 'Paisea de wande si ga maut wand-da, ni Tenu dekhea ta zindagi naal pyaar ho gya' <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </a>
                                    <a href="/story.html" class="workspace-grid__item next">
                                        <div>
                                                <h3 class="h4 text__color--loud next">Next</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="workspace-list jsList--view none">
                        <div class=gwrapper>
                            <div class=size></div>
                            <div class="workspace-list__collection jsDispatch--receptorList">
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="medhi-walerski">
                                    <a href="#" class=link-context>
                                        <span class=title>Medhi Walerski</span>
                                        <span class=category>Interactive, Branding</span>
                                        <span class=date>2018</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="radio-nova">
                                    <a href="#" class=link-context>
                                        <span class=title>Radio Nova</span>
                                        <span class=category>Interactive, Branding, Print</span>
                                        <span class=date>2018</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="millemann-consulting">
                                    <a href="#" class=link-context>
                                        <span class=title>Millemann Consulting</span>
                                        <span class=category>Interactive, Content, Branding</span>
                                        <span class=date>2018</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="devialet">
                                    <a href="#" class=link-context>
                                        <span class=title>Devialet</span>
                                        <span class=category>Interactive, Content</span>
                                        <span class=date>2017</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="qwant-hololens">
                                    <a href="#" class=link-context>
                                        <span class=title>Qwant Hololens</span>
                                        <span class=category>Interactive, Content</span>
                                        <span class=date>2017</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="paris-saint-germain">
                                    <a href="#" class=link-context>
                                        <span class=title>Paris Saint-Germain</span>
                                        <span class=category>Interactive</span>
                                        <span class=date>2017</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="leica">
                                    <a href="#" class=link-context>
                                        <span class=title>Leica</span>
                                        <span class=category>Print</span>
                                        <span class=date>2017</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="gedeon">
                                    <a href="#" class=link-context>
                                        <span class=title>Gédéon</span>
                                        <span class=category>Interactive, Branding</span>
                                        <span class=date>2017</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="chloe">
                                    <a href="#" class=link-context>
                                        <span class=title>Chloé</span>
                                        <span class=category>Interactive</span>
                                        <span class=date>2016</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="big-mamma">
                                    <a href="#" class=link-context>
                                        <span class=title>Big Mamma</span>
                                        <span class=category>Interactive, Content</span>
                                        <span class=date>2016</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="olivier-bernstein-premiers-grands-crus">
                                    <a href="#" class=link-context>
                                        <span class=title>Olivier Bernstein</span>
                                        <span class=category>Interactive</span>
                                        <span class=date>2016</span>
                                    </a>
                                </div>
                                <div class="workspace-list__item jsItem" data-img="#" data-slug="nike-make-it-paris">
                                    <a href="#" class=link-context>
                                        <span class=title>Nike Make it Paris</span>
                                        <span class=category>Interactive</span>
                                        <span class=date>2015</span>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="workspace-list__cursor jsList--visual"></div>
                    </div>
                    <div class="workspace-dispatch jsDispatch--view none">
                        <div class=inner>
                            <div class=cells>
                                <div class=cell>
                                    <form class="workspace-dispatch__form jsField--trigger" method=post autocomplete=off>
                                        <div class=fields>
                                            <label for=dispatchField>
                                                <span class=fieldlabel>Filter by</span>
                                                <input type=text class="fieldtext jsField--search" id=dispatchField placeholder="" autofocus>
                                            </label>
                                            <ul class="matches jsDispatch--matches"></ul>
                                        </div>
                                    </form>
                                </div>
                                <div class=cell>
                                    <div class="workspace-dispatch__collection jsCollection">
                                        <button class="btn jsFilter anchor--A" data-id="26">
                                            <span class=text>Animation</span>
                                        </button>
                                        <button class="btn jsFilter anchor--B" data-id="20">
                                            <span class=text>Branding</span>
                                        </button>
                                        <button class="btn jsFilter anchor--E" data-id="19">
                                            <span class=text>Ecommerce</span>
                                        </button>
                                        <button class="btn jsFilter anchor--E" data-id="16">
                                            <span class=text>Editorial</span>
                                        </button>
                                        <button class="btn jsFilter anchor--F" data-id="9">
                                            <span class=text>Fashion</span>
                                        </button>
                                        <button class="btn jsFilter anchor--F" data-id="10">
                                            <span class=text>Food &amp;wine</span>
                                        </button>
                                        <button class="btn jsFilter anchor--F" data-id="14">
                                            <span class=text>Football</span>
                                        </button>
                                        <button class="btn jsFilter anchor--I" data-id="27">
                                            <span class=text>Illustration</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="workspace-dispatch__alphabet jsAnchors">
                                <button class="btn jsAnchor" data-id="A">
                                    <span class=text>A</span>
                                </button>
                                <button class="btn jsAnchor" data-id="B">
                                    <span class=text>B</span>
                                </button>
                                <button class="btn jsAnchor" data-id="E">
                                    <span class=text>E</span>
                                </button>
                                <button class="btn jsAnchor" data-id="F">
                                    <span class=text>F</span>
                                </button>
                                <button class="btn jsAnchor" data-id="I">
                                    <span class=text>I</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
                
            </div>
            <div class=launcher id=jsLauncher--view>
                <div class=fill></div>
                <div class=canvas></div>
            </div>
            <div class=main-transition id=jsView--transition></div>
            <div class="main-progress jsProgress" id=jsView--progress></div>
            
        </div>
        
        <script src="/public/build/top0af3.js"></script>
        <script src="/public/build/frontd3fe.js"></script>
    </body>
</html>
