<!doctype html>
<html class="no-js lang-en currentView--about" lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Happy Birthday Sunshine <3</title>
        <meta name=robots content="index, follow">
        
        <meta property=og:image content="/public/img/logo.png">
        <meta property=og:image:type content=image/jpeg>
        <meta property=og:image:width content="934">
        <meta property=og:image:height content="942">
        <meta property=og:type content=website>
        
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#000000>
        <link rel=stylesheet type=text/css href="/public/build/front4848.css" media=all>
        <script>
            var config = {
                env: "production",
                lang: "en",
                pathAssets: "/public",
                pathRoot: "/"
            }
                , manifestImg = {
                dMapContact: "/public/img/wave.jpg",
                dMapLauncher: "/public/img/bump.jpg",
                spriteContact: "/public/img/smiley.png",
                spriteRevertContact: "/public/img/smiley-revert.png",
                spriteSolitaire: "/public/img/file.png"
            }
                , wording = {
                ctaFilter: "",
                ctaFilterClose: ""
            }
        </script>
    </head>
    <body>
        <div id=master>
            <header class=logo-index>
                <span><img src="/public/img/heart.png" style="width: 5%" alt=""></span>
            </header>
            <div class=ui>
                <button class="btn-menu jsMainnav--trigger">
                    <div class=visuallyhidden>Menu</div>
                    <div class="shape none">
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            <div class="main-nav none" id="jsView--mainnav">
                <div class=fill></div>
                <div class="main-nav__inner">
                    <nav class=primary-nav>
                        <menu class="primary-nav__menu">
                            <li data-slug="work">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Work</a>
                            </li>
                            <li data-slug="about">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">About</a>
                            </li>
                            <li data-slug="contact">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Contact</a>
                            </li>
                        </menu>
                        <div class="primary-nav__canvas jsCanvas"></div>
                    </nav>
                    <nav class="secondary-nav">
                        <ul class=secondary-nav__menu>
                            <li>
                                <a class=no-barba href="#" target=_blank>Twitter</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Instagram</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Behance</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Dribbble</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Facebook</a>
                            </li>
                            <li>
                                <a class=no-barba href="" target=_blank></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="fixed-nav none">
                <ul class=fixed-nav__menu>
                    <li data-slug="work">
                        <a href="#" class=jsMenu--listener>Work</a>
                    </li>
                    <li data-slug="about">
                        <a href="#" class=jsMenu--listener>About</a>
                    </li>
                    <li data-slug="contact">
                        <a href="#" class=jsMenu--listener>Contact</a>
                    </li>
                </ul>
            </div>
            <div class=main-content id=barba-wrapper role=main>
                <div class="barba-container for--about" data-namespace="about">
                    <input type=hidden class=jsData value="cute[=]beautiful[=]adorable[=]understanding[=]crazy[=]perfect">
                    <ul class=breadcrumb>
                        <li>The End</li>
                    </ul>
                    <div class=about>
                        <div class="fill fxFill"></div>
                        <div class=gwrapper>
                            <div class="brand fxBrand description is--xlarger text__color--white">
                                <p>
                                    You are the best thing that has ever happened to me <img src="/public/smileys/heart.png" style="width: 5%" alt=""><br/>
                                    I can't even describe in words what you mean to me. <br/>
                                    You are the most <div class="typewrapper">
                                            <span class="text">passionate</span>
                                            <span class="caret">|</span>
                                        </div> person I've ever met in my life <img src="/public/smileys/heart.png" style="width: 5%" alt=""> <br/>
                                    Please stay the same always <img src="/public/smileys/heart.png" style="width: 5%" alt="">
                                </p>
                            </div>
                            <div class="about-prez fxPrez none">
                                <p class="h6 text__color--white">Capabilities</p>
                                <div class="description is--larger text__color--white">
                                    <p>
                                        Strategy<br/>
                                        Art Direction<br/>
                                        Interactive Design<br/>
                                        Identity &amp;Brand guidelines<br/>
                                        Development<br/>
                                        User Experience<br/>
                                        Film Direction<br/>
                                        Photography<br/>
                                        Motion Design<br/>
                                        Print Design<br/>
                                        Social media<br/>Iconography
                                    </p>
                                </div>
                            </div>
                            <div class="about-prez jsWaypoint--appearReveal for--intro none" data-offset=70%>
                                <p class="h6 text__color--white">Selected clients</p>
                                <div class=description></div>
                            </div>
                        </div>
                        <div class="about-clients with--canvas jsMarqueeInfinite--view none">
                            <div class=about-clients__canvas></div>
                            <div class="cell jsCell jsDirection" data-move=1>
                                <p class="entry jsItem">Ermenegildo Zegna</p>
                                <a class="entry jsItem can--hover" href="  chloe">Chloé</a>
                                <a class="entry jsItem can--hover" href="  devialet">Devialet</a>
                                <a class="entry jsItem can--hover" href="  nike-make-it-paris">Nike</a>
                                <a class="entry jsItem can--hover" href="  leica">Leica</a>
                                <a class="entry jsItem can--hover" href="  radio-nova">Radio Nova</a>
                                <p class="entry jsItem">Ermenegildo Zegna</p>
                                <a class="entry jsItem can--hover" href="  chloe">Chloé</a>
                                <a class="entry jsItem can--hover" href="  devialet">Devialet</a>
                                <a class="entry jsItem can--hover" href="  nike-make-it-paris">Nike</a>
                                <a class="entry jsItem can--hover" href="  leica">Leica</a>
                                <a class="entry jsItem can--hover" href="  radio-nova">Radio Nova</a>
                            </div>
                            <div class="cell jsCell jsDirection" data-move=-1>
                                <a class="entry jsItem can--hover" href="  paris-saint-germain">Paris Saint Germain</a>
                                <p class="entry jsItem">Zilli</p>
                                <a class="entry jsItem can--hover" href="  big-mamma">Big Mamma</a>
                                <a class="entry jsItem can--hover" href="  olivier-bernstein-premiers-grands-crus">Olivier Bernstein</a>
                                <p class="entry jsItem">Jean Dousset</p>
                                <p class="entry jsItem"></p>
                                <a class="entry jsItem can--hover" href="  paris-saint-germain">Paris Saint Germain</a>
                                <p class="entry jsItem">Zilli</p>
                                <a class="entry jsItem can--hover" href="  big-mamma">Big Mamma</a>
                                <a class="entry jsItem can--hover" href="  olivier-bernstein-premiers-grands-crus">Olivier Bernstein</a>
                                <p class="entry jsItem">Jean Dousset</p>
                                <p class="entry jsItem"></p>
                            </div>
                        </div>
                        <div class="gwrapper">
                            <div class="about-prez jsWaypoint--appearReveal none" data-offset=70%>
                                <p class="h6 text__color--white">Location</p>
                                <div class="description text__color--white">
                                    <p>
                                        38 rue Legendre<br/>Paris, France
                                    </p>
                                </div>
                            </div>
                            <div class="about-prez jsWaypoint--appearReveal none" data-offset=70%>
                                <p class="h6 text__color--white">Accolades</p>
                                <div class="description text__color--white">
                                    <p>
                                        The Webby Awards<br/>
                                        The Lovie Awards<br/>
                                        SiteInspire<br/>
                                        Awwwards<br/>
                                        The FWA<br/>Behance
                                    </p>
                                </div>
                            </div>
                            <div class="about-prez jsWaypoint--appearReveal" data-offset=70%>
                                <p class="h6 text__color--white">Did you know ?</p>
                                <div class="description text__color--white">
                                    <p>
                                        Yoy can go through this whole thing by clicking the "START OVER!" button below. Just kidding, why would you want to go through all that torture again <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> 
                                        Wish you a happy birthday again bache <img src="/public/smileys/heart.png" style="width: 5%" alt=""> Hope you liked this <img src="/public/smileys/blush.png" style="width: 5%" alt=""> Now enjoy your birthday.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="solitaire jsSolitaire-trigger none">
                                
                            <img src="#" alt="" class="visual none">
                            <span class="text none">index.html</span>
                        </div>
                        <div class="jsSolitaire jsWaypoint--appearReveal">
                            <a href="/home.html" class="btn-cta1 jsTextFx">
                                <span class="text x-right"  style="padding-left: 5%;">Start over!</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class=launcher id=jsLauncher--view>
                <div class=fill></div>
                <div class=canvas></div>
            </div>
            <div class=main-transition id=jsView--transition></div>
            <div class="main-progress jsProgress" id=jsView--progress></div>
        </div>
        <script src="/public/build/top0af3.js"></script>
        <script src="/public/build/frontd3fe.js"></script>
    </body>
</html>
