<!doctype html>
<html class="no-js lang-en currentView--home" lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Happy Birthday Sunshine <3</title>
        <meta name=robots content="index, follow">
       
        <meta property=og:image content="/public/img/logo.png">
        <meta property=og:image:type content=image/jpeg>
        <meta property=og:image:width content="934">
        <meta property=og:image:height content="942">
        <meta property=og:type content=website>
        
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#000000>
        <link rel=stylesheet type=text/css href="/public/build/front4848.css" media=all>
        <script>
            var config = {
                env: "production",
                lang: "en",
                pathAssets: "/public",
                pathRoot: "/"
            }
                , manifestImg = {
                dMapContact: "/public/img/wave.jpg",
                dMapLauncher: "/public/img/bump.jpg",
                spriteContact: "/public/img/smiley.png",
                spriteRevertContact: "/public/img/smiley-revert.png",
                spriteSolitaire: "/public/img/file.png"
            }
                , wording = {
                ctaFilter: "",
                ctaFilterClose: ""
            }
        </script>
    </head>
    <body>
        <div id=master>
            <header class=logo-index>
                <span><img src="/public/img/heart.png" style="width: 5%" alt=""></span>
            </header>
            <div class="ui none">
                <button class="btn-menu jsMainnav--trigger">
                    <div class=visuallyhidden>Menu</div>
                    <div class=shape>
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            <div class="main-nav none" id="jsView--mainnav">
                <div class=fill></div>
                <div class="main-nav__inner">
                    <nav class=primary-nav>
                        <menu class="primary-nav__menu">
                            <li data-slug="work">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Work</a>
                            </li>
                            <li data-slug="about">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">About</a>
                            </li>
                            <li data-slug="contact">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Contact</a>
                            </li>
                        </menu>
                        <div class="primary-nav__canvas jsCanvas"></div>
                    </nav>
                    <nav class="secondary-nav">
                        <ul class=secondary-nav__menu>
                            <li>
                                <a class=no-barba href="#" target=_blank>Twitter</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Instagram</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Behance</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Dribbble</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Facebook</a>
                            </li>
                            <li>
                                <a class=no-barba href="" target=_blank></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="fixed-nav none">
                <ul class=fixed-nav__menu>
                    <li data-slug="work">
                        <a href="#" class=jsMenu--listener>Work</a>
                    </li>
                    <li data-slug="about">
                        <a href="#" class=jsMenu--listener>About</a>
                    </li>
                    <li data-slug="contact">
                        <a href="#" class=jsMenu--listener>Contact</a>
                    </li>
                </ul>
            </div>
            <div class=main-content id=barba-wrapper role=main>
                <div class="barba-container for--home" data-namespace="home">
                    <div class="home-slideshow jsHomeSlideshow--view">
                        <div class="home-fill fxFill"></div>
                        <div class="home-slideshow__collection jsCollection">
                            <div class="home-slideshow__item jsItem" data-video="">
                                <div class=bg style="background-image:url(/public/img/back1.jpg);background-image:-webkit-image-set( url('/public/img/back1.jpg') 1x, url('/public/img/back1.jpg') 2x );background-image:image-set( url('/public/img/back1.jpg') 1x, url('/public') 2x );">
                                    <img src="/public/img/back1.jpg" srcset="/public/img/back1.jpg 2x" alt="" class=visuallyhidden>
                                </div>
                                <div class=bg-mobile style="background-image:url(/public/img/back1.jpg)">
                                    <img src="/public/img/back1.jpg" alt="" class=visuallyhidden>
                                </div>
                                <div class=content>
                                    <h2 class="h2 text__color--white jsTextFx">DEAR, BIRTHDAY GIRL</h2>
                                    <a href="#" class="btn-cta1 jsTextFx">
                                        <span class=text>The day is finally here!</span>
                                    </a>
                                </div>
                            </div>
                            <div class="home-slideshow__item jsItem" data-video="">
                                <div class=bg style="background-image:url(/public/img/back2.jpg);background-image:-webkit-image-set( url('/public/img/back2.jpg') 1x, url('/public/img/back2.jpg') 2x );background-image:image-set( url('/public/img/back2.jpg') 1x, url('/public/img/back2.jpg') 2x );">
                                    <img src="/public/img/back2.jpg" srcset="/public/img/back2.jpg 2x" alt="" class=visuallyhidden>
                                </div>
                                <div class=bg-mobile style="background-image:url(/public/img/back2.jpg)">
                                    <img src="/public/img/back2.jpg" alt="" class=visuallyhidden>
                                </div>
                                <div class=content>
                                    <h2 class="h2 text__color--white jsTextFx">THE DAY YOU WRE BORN</h2>
                                    <a href="#" class="btn-cta1 jsTextFx">
                                        <span class=text>6th March <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></span>
                                    </a>
                                </div>
                            </div>
                            <div class="home-slideshow__item jsItem" data-video="">
                                <div class=bg style="background-image:url(/public/img/back3.jpg);background-image:-webkit-image-set( url('/public/img/back3.jpg') 1x, url('/public/img/back3.jpg') 2x );background-image:image-set( url('/public/img/back3.jpg') 1x, url('/public/img/back3.jpg') 2x );">
                                    <img src="/public/img/back3.jpg" srcset="/public/img/back3.jpg 2x" alt="" class=visuallyhidden>
                                </div>
                                <div class=bg-mobile style="background-image:url(/public/img/back3.jpg)">
                                    <img src="/public/img/back3.jpg" alt="" class=visuallyhidden>
                                </div>
                                <div class=content>
                                    <h2 class="h2 text__color--white jsTextFx">I haven't made any Collage</h2>
                                    <a href="#" class="btn-cta1 jsTextFx">
                                        <span class=text>Mai bnana v nai <img src="/public/smileys/sweatwithsmile.png" style="width: 5%" alt=""></span>
                                    </a>
                                </div>
                            </div>

                            <div class="home-slideshow__item jsItem" data-video="">
                                <div class=bg style="background-image:url(/public/img/back4.jpg);background-image:-webkit-image-set( url('/public/img/back4.jpg') 1x, url('/public/img/back4.jpg') 2x );background-image:image-set( url('/public/img/back4.jpg') 1x, url('/public/img/back4.jpg') 2x );">
                                    <img src="/public/img/back4.jpg" srcset="/public/img/back4.jpg 2x" alt="" class=visuallyhidden>
                                </div>
                                <div class=bg-mobile style="background-image:url(/public/img/back4.jpg)">
                                    <img src="/public/img/back4.jpg" alt="" class=visuallyhidden>
                                </div>
                                <div class=content>
                                    <h2 class="h2 text__color--white jsTextFx">But I tried to wish you in a unique way. Again! hehe <img src="/public/smileys/blush.png" style="width: 5%" alt=""></h2>
                                    <a href="/cuteness.html" class="btn-cta1 jsTextFx">
                                        <span class=text>Now Click here to go ahead!</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <button class="home-slideshow__previous v-desktoptablet jsPrevious"></button>
                        <button class="home-slideshow__next v-desktoptablet jsNext"></button>
                        <div class=home-slideshow__timer>
                            <div class="shape jsCanvas"></div>
                            <div class="progress jsProgress"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=launcher id=jsLauncher--view>
                <div class=fill></div>
                <div class=canvas></div>
            </div>
            <div class=main-transition id=jsView--transition></div>
            <div class="main-progress jsProgress" id=jsView--progress></div>
        </div>
        <script src="/public/build/top0af3.js"></script>
        <script src="/public/build/frontd3fe.js"></script>
    </body>
</html>
