<!doctype html>
<html class="no-js lang-en currentView--single" lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Happy Birthday Sunshine <3</title>
        <meta name=robots content="index, follow">
        
        <meta property=og:image content="/public/img/logo.png">
        <meta property=og:image:type content=image/jpeg>
        <meta property=og:image:width content="934">
        <meta property=og:image:height content="942">
        <meta property=og:type content=website>
        
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#000000>
        <link rel=stylesheet type=text/css href="/public/build/front4848.css" media=all>
        <script>
            var config = {
                env: "production",
                lang: "en",
                pathAssets: "/public",
                pathRoot: "/"
            }
                , manifestImg = {
                dMapContact: "/public/img/wave.jpg",
                dMapLauncher: "/public/img/bump.jpg",
                spriteContact: "/public/img/smiley.png",
                spriteRevertContact: "/public/img/smiley-revert.png",
                spriteSolitaire: "/public/img/file.png"
            }
                , wording = {
                ctaFilter: "",
                ctaFilterClose: ""
            }
        </script>
    </head>
    <body>
        <div id=master>
            <header class=logo-index>
                <span><img src="/public/img/heart.png" style="width: 5%" alt=""></span>
            </header>
            <div class=ui>
                <button class="btn-menu jsMainnav--trigger">
                    <div class=visuallyhidden>Menu</div>
                    <div class="shape none">
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            <div class="main-nav none" id="jsView--mainnav">
                <div class=fill></div>
                <div class="main-nav__inner">
                    <nav class=primary-nav>
                        <menu class="primary-nav__menu">
                            <li data-slug="work">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Work</a>
                            </li>
                            <li data-slug="about">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">About</a>
                            </li>
                            <li data-slug="contact">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Contact</a>
                            </li>
                        </menu>
                        <div class="primary-nav__canvas jsCanvas"></div>
                    </nav>
                    <nav class="secondary-nav">
                        <ul class=secondary-nav__menu>
                            <li>
                                <a class=no-barba href="#" target=_blank>Twitter</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Instagram</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Behance</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Dribbble</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Facebook</a>
                            </li>
                            <li>
                                <a class=no-barba href="" target=_blank></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="fixed-nav none">
                <ul class=fixed-nav__menu>
                    <li data-slug="work">
                        <a href="#" class=jsMenu--listener>Work</a>
                    </li>
                    <li data-slug="about">
                        <a href="#" class=jsMenu--listener>About</a>
                    </li>
                    <li data-slug="contact">
                        <a href="#" class=jsMenu--listener>Contact</a>
                    </li>
                </ul>
            </div>
            <div class=main-content id=barba-wrapper role=main>
                <div class="barba-container for--single" data-namespace="single">
                    <ul class=breadcrumb>
                        <li>
                            <h2>Teddu <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></h2>
                        </li>
                    </ul>
                    <div class=single-progression>
                        <div class="bar jsProgress"></div>
                    </div>
                    <div class=cover-dummy></div>
                    <div class="cover fxCover jsSplashscreen--view">
                        <div class=cachea></div>
                        <div class=cacheb></div>
                        <div class=inner>
                            <div class="fill jsMask"></div>
                            <div class="bg jsImage" style="background-image:url(/public/images/39.jpg);background-image:-webkit-image-set( url('/public/images/39.jpg') 1x, url('/public/images/39.jpg') 2x );background-image:image-set( url('/public/images/39.jpg') 1x, url('/public/images/39.jpg') 2x );">
                                <img src="/public/images/39.jpg" srcset="/public/images/39.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                            <div class="bg-mobile jsImageMobile" style="background-image:url(/public/images/39.jpg)"></div>
                        </div>
                    </div>
                    <div class=jsWaypoint--zIndexOrder></div>
                    <div class=single-container>
                        <section class="introduction jsWaypoint--whiteSkinOn jsWaypoint--appearIntroduction">
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <h1 class="description text__color--white">
                                        <p>Now you would wonder why am I talking about all these things <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                        <p>The definition of friendship I stated earlier, hehe, I was giving real examples of them. You have done all that which defines a good friend, naah! The best friend <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        <p>You are always there for me, you always listen to my problems and help me with them <img src="/public/smileys/heart.png" style="width: 5%" alt=""> Thanks a lot bche, for being you, for being the best person in my life <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </h1>
                                </div>
                            </div>
                        </section>
                        
                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground" data-width="2480" data-height="3252" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:;"></div>
                                    <img src="/public/images/40.jpg" srcset="/public/images/40.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        <div class="poster-full jsWaypoint--appearReveal" data-offset=70%>
                            <div class=bg style="background-image:url(/public/images/41.jpg);background-image:-webkit-image-set( url('/public/images/41.jpg') 1x, url('/public/images/41.jpg') 2x );background-image:image-set( url('/public/images/41.jpg') 1x, url('/public/images/41.jpg') 2x );">
                                <img src="/public/images/41.jpg" srcset="/public/images/41.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                        </div>

                        <div class="intertext jsWaypoint--appearReveal zview-foreground x-right" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="description is--smaller text__color--light">
                                        <p>And then there are two epic instances that make me laugh always <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                        <p>First, after our epic fight, <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> hahha Ankush meri tareef na kri ajj to baad, hahahhahahha <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> Aaya yaad kuj? <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                        <p>And then Dalhousie trip. Haha, You slipped and fall two times <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> Hahhahaha and I laughed so hard when you did. Hahha mai hun v hassa aa rea likhda hoye hahaha epic scene c eh wala <img src="/public/smileys/tongue.png" style="width: 5%" alt=""> <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                        <p>Aa niche 2-4 pics hor ne. Dekhla then next page te chlde aa <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground" data-width="2480" data-height="3252" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:;"></div>
                                    <img src="/public/images/42.jpg" srcset="/public/images/42.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground" data-width="2480" data-height="3252" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:;"></div>
                                    <img src="/public/images/43.jpg" srcset="/public/images/43.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                    </div>
                    <div class=jsWaypoint--next></div>
                    <div class="single-next__dummy jsWaypoint--whiteSkinOn"></div>
                    <div class="single-next jsScrollNext--view">
                        <div class=fill></div>
                        <div class=inner>
                            <div class=shape></div>
                            <h3 class="h1 text__color--white">
                                <p class="jsScrollNext--link false-link" data-href="/story5.html">Next</p>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class=launcher id=jsLauncher--view>
                <div class=fill></div>
                <div class=canvas></div>
            </div>
            <div class=main-transition id=jsView--transition></div>
            <div class="main-progress jsProgress" id=jsView--progress></div>
        </div>
        <script src="/public/build/top0af3.js"></script>
        <script src="/public/build/frontd3fe.js"></script>
    </body>
</html>
</div>
