<!doctype html>
<html class="no-js lang-en currentView--single" lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Happy Birthday Sunshine <3</title>
        <meta name=robots content="index, follow">
        
        <meta property=og:image content="/public/img/logo.png">
        <meta property=og:image:type content=image/jpeg>
        <meta property=og:image:width content="934">
        <meta property=og:image:height content="942">
        <meta property=og:type content=website>
        
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#000000>
        <link rel=stylesheet type=text/css href="/public/build/front4848.css" media=all>
        <script>
            var config = {
                env: "production",
                lang: "en",
                pathAssets: "/public",
                pathRoot: "/"
            }
                , manifestImg = {
                dMapContact: "/public/img/wave.jpg",
                dMapLauncher: "/public/img/bump.jpg",
                spriteContact: "/public/img/smiley.png",
                spriteRevertContact: "/public/img/smiley-revert.png",
                spriteSolitaire: "/public/img/file.png"
            }
                , wording = {
                ctaFilter: "",
                ctaFilterClose: ""
            }
        </script>
    </head>
    <body>
        <div id=master>
            <header class=logo-index>
                <span><img src="/public/img/heart.png" style="width: 5%" alt=""></span>
            </header>
            <div class=ui>
                <button class="btn-menu jsMainnav--trigger">
                    <div class=visuallyhidden>Menu</div>
                    <div class="shape none">
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            <div class="main-nav none" id="jsView--mainnav">
                <div class=fill></div>
                <div class="main-nav__inner">
                    <nav class=primary-nav>
                        <menu class="primary-nav__menu">
                            <li data-slug="work">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Work</a>
                            </li>
                            <li data-slug="about">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">About</a>
                            </li>
                            <li data-slug="contact">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Contact</a>
                            </li>
                        </menu>
                        <div class="primary-nav__canvas jsCanvas"></div>
                    </nav>
                    <nav class="secondary-nav">
                        <ul class=secondary-nav__menu>
                            <li>
                                <a class=no-barba href="#" target=_blank>Twitter</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Instagram</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Behance</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Dribbble</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Facebook</a>
                            </li>
                            <li>
                                <a class=no-barba href="" target=_blank></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="fixed-nav none">
                <ul class=fixed-nav__menu>
                    <li data-slug="work">
                        <a href="#" class=jsMenu--listener>Work</a>
                    </li>
                    <li data-slug="about">
                        <a href="#" class=jsMenu--listener>About</a>
                    </li>
                    <li data-slug="contact">
                        <a href="#" class=jsMenu--listener>Contact</a>
                    </li>
                </ul>
            </div>
            <div class=main-content id=barba-wrapper role=main>
                <div class="barba-container for--single" data-namespace="single">
                    <ul class=breadcrumb>
                        <li>
                            <h2>Happy Birthday Cutie</h2>
                        </li>
                    </ul>
                    <div class=single-progression>
                        <div class="bar jsProgress"></div>
                    </div>
                    <div class=cover-dummy></div>
                    <div class="cover fxCover jsSplashscreen--view">
                        <div class=cachea></div>
                        <div class=cacheb></div>
                        <div class=inner>
                            <div class="fill jsMask"></div>
                            <div class="bg jsImage" style="background-image:url(/public/images/44.jpg);background-image:-webkit-image-set( url('/public/images/44.jpg') 1x, url('/public/images/44.jpg') 2x );background-image:image-set( url('/public/images/44.jpg') 1x, url('/public/images/44.jpg') 2x );">
                                <img src="/public/images/44.jpg" srcset="/public/images/44.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                            <div class="bg-mobile jsImageMobile" style="background-image:url(/public/images/44.jpg)"></div>
                        </div>
                    </div>
                    <div class=jsWaypoint--zIndexOrder></div>
                    <div class=single-container>
                        <section class="introduction jsWaypoint--whiteSkinOn jsWaypoint--appearIntroduction">
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <h1 class="description text__color--white is--bigger">
                                        <p><img src="/public/smileys/heart.png" style="width: 5%; margin-left: 20%" alt=""> Happy Birthday Tania <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </h1>
                                </div>
                            </div>
                        </section>
                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground" data-width="2480" data-height="3252" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <img src="/public/images/45.jpg" srcset="/public/images/45.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        
                        <div class="ss-horizontal jsWaypoint--appearReveal zview-foreground jsSSHorizontal--view for--3" data-offset=70%>
                            <div class="ss-horizontal__cursor jsCursor">
                                <span class=text>Swipe</span>
                            </div>
                            <div class="ss-horizontal__inner jsContext">
                                <div class=ss-horizontal__subinner>
                                    <div class="ss-horizontal__collection jsCollection">
                                        <div class="ss-horizontal__item jsItem">
                                            <img src="/public/images/46.jpg" class="visual forced--sized" data-width="2880" data-height="2048">
                                        </div>
                                        <div class="ss-horizontal__item jsItem">
                                            <img src="/public/images/47.jpg" class="visual forced--sized" data-width="1920" data-height="1080">
                                        </div>
                                        <div class="ss-horizontal__item jsItem">
                                            <img src="/public/images/48.jpg" class="visual forced--sized" data-width="3800" data-height="2800">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ss-separator"></div>
                        <div class="poster-full jsWaypoint--appearReveal" data-offset=70%>
                            <div class=bg style="background-image:url(/public/images/49.jpg);background-image:-webkit-image-set( url('/public/images/49.jpg') 1x, url('/public/images/49.jpg') 2x );background-image:image-set( url('/public/images/49.jpg') 1x, url('/public/images/49.jpg') 2x );">
                                <img src="/public/images/49.jpg" srcset="/public/images/49.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                        </div>
                        
                        <div class=poster-single__separator></div>
                        <div class="poster-multiple jsWaypoint--appearReveal zview-foreground for--2" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="item y-center none" data-width="1800" data-height="2024">
                                        <div class=wrapper>
                                            
                                        </div>
                                    </div>
                                    <div class="item y-center" data-width="1800" data-height="2024">
                                        <div class=wrapper>
                                            <img src="/public/images/50.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class=poster-single__separator></div>
                        
                        <section class="quote jsWaypoint--appearReveal x-left zview-foreground jsWaypoint--whiteSkinOn" data-offset=60%>
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=cell>
                                        <div class="description text__color--white is--bigger">
                                            <h1>Many many happy returns of the day cutie pie <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h1>
                                            <h1>God bless you <img src="/public/smileys/heart.png" style="width: 5%" alt=""> I pray you get everything you ever want <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h1>
                                            <h1>Always keep smiling <img src="/public/smileys/heart.png" style="width: 5%" alt=""> and always stay happy <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h1>
                                            <h1>Love you a lot <img src="/public/smileys/heart.png" style="width: 5%" alt=""></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="video-bg jsWaypoint--appearReveal zview-foreground jsPlayer--context jsVideoLoop--view with--border jsWaypoint--autoplay" data-offset=70%>
                            <button class="btn-play jsPlayer--trigger">
                                <span class=shape></span>
                            </button>
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:#efefef;"></div>
                                    
                                    <video muted loop class="element jsPlayer--video" height=100% width=100%>
                                        <source src="/public/vid/bu.mp4" type=video/mp4>
                                    </video>
                                    <div class=controls>
                                        <div class=playpause>
                                            <button class=jsPlayer--triggerPlaypause></button>
                                        </div>
                                        <div class=timer>
                                            <span class="current jsPlayer--currentTime">--:--</span>
                                            <span class="total jsPlayer--duration">/ --:--</span>
                                        </div>
                                        <div class=volume>
                                            <div class="context jsPlayer--contextVolume">
                                                <span class=jsPlayer--triggerVolume data-value=0></span>
                                                <span class=jsPlayer--triggerVolume class=jsPlayer--triggerVolume data-value=0.125></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.25></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.375></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.5></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.625></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.75></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.875></span>
                                                <span class=jsPlayer--triggerVolume data-value=1></span>
                                            </div>
                                        </div>
                                        <div class=fullscreen>
                                            <button class=jsPlayer--triggerFullscreen></button>
                                        </div>
                                        <div class=progressbar>
                                            <div class="progress jsPlayer--triggerTimeline">
                                                <span class="current jsPlayer--progress"></span>
                                                <span class="buffer jsPlayer--buffer"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class=poster-single__separator></div>

                        <div class="intertext jsWaypoint--appearReveal zview-foreground x-center" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="description is--smaller text__color--light">
                                        <p>Yes just like you said, always be you Tania, no matter what happens stay the same Golden hearted, beautiful and adorable person you are <img src="/public/smileys/heart.png" style="width: 5%" alt=""> God bless you <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        <p>And now we are in the end of this show hehe.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=jsWaypoint--next></div>
                    <div class="single-next__dummy jsWaypoint--whiteSkinOn"></div>
                    <div class="single-next jsScrollNext--view">
                        <div class=fill></div>
                        <div class=inner>
                            <div class=shape></div>
                            <h3 class="h1 text__color--white">
                                <p class="jsScrollNext--link false-link" data-href="/end.html">Next</p>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class=launcher id=jsLauncher--view>
                <div class=fill></div>
                <div class=canvas></div>
            </div>
            <div class=main-transition id=jsView--transition></div>
            <div class="main-progress jsProgress" id=jsView--progress></div>
        </div>
        <script src="/public/build/top0af3.js"></script>
        <script src="/public/build/frontd3fe.js"></script>
    </body>
</html>
</div>
