<!doctype html>
<html class="no-js lang-en currentView--single" lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Happy Birthday Sunshine <3</title>
        <meta name=robots content="index, follow">
        
        <meta property=og:image content="/public/img/logo.png">
        <meta property=og:image:type content=image/jpeg>
        <meta property=og:image:width content="934">
        <meta property=og:image:height content="942">
        <meta property=og:type content=website>
        
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#000000>
        <link rel=stylesheet type=text/css href="/public/build/front4848.css" media=all>
        <script>
            var config = {
                env: "production",
                lang: "en",
                pathAssets: "/public",
                pathRoot: "/"
            }
                , manifestImg = {
                dMapContact: "/public/img/wave.jpg",
                dMapLauncher: "/public/img/bump.jpg",
                spriteContact: "/public/img/smiley.png",
                spriteRevertContact: "/public/img/smiley-revert.png",
                spriteSolitaire: "/public/img/file.png"
            }
                , wording = {
                ctaFilter: "",
                ctaFilterClose: ""
            }
        </script>
    </head>
    <body>
        <div id=master>
            <header class=logo-index>
                <span><img src="/public/img/heart.png" style="width: 5%" alt=""></span>
            </header>
            <div class=ui>
                <button class="btn-menu jsMainnav--trigger">
                    <div class=visuallyhidden>Menu</div>
                    <div class="shape none">
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            
            <div class="main-nav none" id="jsView--mainnav">
                <div class=fill></div>
                <div class="main-nav__inner">
                    <nav class=primary-nav>
                        <menu class="primary-nav__menu">
                            <li data-slug="work">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Work</a>
                            </li>
                            <li data-slug="about">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">About</a>
                            </li>
                            <li data-slug="contact">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Contact</a>
                            </li>
                        </menu>
                        <div class="primary-nav__canvas jsCanvas"></div>
                    </nav>
                    <nav class="secondary-nav">
                        <ul class=secondary-nav__menu>
                            <li>
                                <a class=no-barba href="#" target=_blank>Twitter</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Instagram</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Behance</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Dribbble</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Facebook</a>
                            </li>
                            <li>
                                <a class=no-barba href="" target=_blank></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="fixed-nav none">
                <ul class=fixed-nav__menu>
                    <li data-slug="work">
                        <a href="#" class=jsMenu--listener>Work</a>
                    </li>
                    <li data-slug="about">
                        <a href="#" class=jsMenu--listener>About</a>
                    </li>
                    <li data-slug="contact">
                        <a href="#" class=jsMenu--listener>Contact</a>
                    </li>
                </ul>
            </div>
            <div class=main-content id=barba-wrapper role=main>
                <div class="barba-container for--single" data-namespace="single">
                    <ul class=breadcrumb>
                        <li>
                            <h2>Pretty Uh!</h2>
                        </li>
                    </ul>
                    <div class=single-progression>
                        <div class="bar jsProgress"></div>
                    </div>
                    <div class=cover-dummy></div>
                    <div class="cover fxCover jsSplashscreen--view">
                        <div class=cachea></div>
                        <div class=cacheb></div>
                        <div class=inner>
                            <div class="fill jsMask"></div>
                            <div class="bg jsImage" style="background-image:url(/public/images/33.jpg);background-image:-webkit-image-set( url('/public/images/33.jpg') 1x, url('/public/images/33.jpg') 2x );background-image:image-set( url('/public/images/33.jpg') 1x, url('/public/images/33.jpg') 2x );">
                                <img src="/public/images/33.jpg" srcset="/public/images/33.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                            <div class="bg-mobile jsImageMobile" style="background-image:url(/public/images/33.jpg)"></div>
                        </div>
                    </div>
                    <div class=jsWaypoint--zIndexOrder></div>
                    <div class=single-container>
                        <section class="introduction jsWaypoint--whiteSkinOn jsWaypoint--appearIntroduction">
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <h1 class="description text__color--white">
                                        <p>How do you pull off these kind of pics? <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> Just tell me how? hehe.</p>
                                        <p>Eni cute lgdi pyi aa na u ethe, schi apni mom nu j mai pic dikhati tere lyi ek hor rishta aa jana <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                        <p>So we were taking about fights haha. First fight, epic one <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> Fight ki c k dekhde kide ch ego jayada. 3 months, dammit, we didn't talk for 3 months <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                        <p>Then one day, even though you won't admit it <img src="/public/smileys/tongue.png" style="width: 5%" alt=""> you laughed at my joke and there went all ego and we started talking again. That patch up was epic, no shouting, no drama, just like that we forgot everything and started being normal again. That's what makes our Dosti special <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </h1>
                                </div>
                            </div>
                        </section>
                        
                        <div class="poster-multiple jsWaypoint--appearReveal zview-foreground for--2 reduced--marginb" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="item y-center" data-width="1800" data-height="2024">
                                        <div class=wrapper>
                                            <img src="/public/images/34.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                    <div class="item y-center" data-width="1800" data-height="2024">
                                        <div class=wrapper>
                                            <img src="/public/images/35.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=poster-single__separator></div>

                        <div class="intertext jsWaypoint--appearReveal zview-foreground x-right" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="description is--smaller text__color--light">
                                        <p>Then there was second fight, which I regret the most.</p>
                                        <p>I wasn't in my right mind, demanding a lot from you and one night I burst out. I am still ashamed of it for what I did and for what I said back then.</p>
                                        <p>Then we did not talk for 5 days I guess. Those few days were the worst of my life. I felt so shame and didn't even have the guts to apologies for what I did. But then the day we met you didn't even let me apologies properly and forgave me in an instant. Ena wadda dil lai k kithe jana kudiye u <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="poster-full jsWaypoint--appearReveal" data-offset=70%>
                            <div class=bg style="background-image:url(/public/images/36.jpg);background-image:-webkit-image-set( url('/public/images/36.jpg') 1x, url('/public/images/36.jpg') 2x );background-image:image-set( url('/public/images/36.jpg') 1x, url('/public/images/36.jpg') 2x );">
                                <img src="/public/images/36.jpg" srcset="/public/images/36.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                        </div>
                        
                        <div class=poster-single__separator></div>
                        <div class="poster-multiple jsWaypoint--appearReveal zview-foreground for--2 reduced--marginb" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="item y-bottom" data-width="1440" data-height="5807">
                                        <div class=wrapper>
                                            <div class=border style="background-color:#f4f4f4;"></div>
                                            <img src="/public/images/37.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                    <div class="item y-top" data-width="1440" data-height="5807">
                                        <div class=wrapper>
                                            <div class=border style="background-color:#f4f4f4;"></div>
                                            <img src="/public/images/38.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class=poster-single__separator></div>
                        <div class="video-bg jsWaypoint--appearReveal zview-foreground jsPlayer--context jsVideoLoop--view with--border jsWaypoint--autoplay" data-offset=70%>
                            <button class="btn-play jsPlayer--trigger">
                                <span class=shape></span>
                            </button>
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:#efefef;"></div>
                                    
                                    <video muted loop class="element jsPlayer--video" height=100% width=100%>
                                        <source src="/public/vid/vibes.mp4" type=video/mp4>
                                    </video>
                                    <div class=controls>
                                        <div class=playpause>
                                            <button class=jsPlayer--triggerPlaypause></button>
                                        </div>
                                        <div class=timer>
                                            <span class="current jsPlayer--currentTime">--:--</span>
                                            <span class="total jsPlayer--duration">/ --:--</span>
                                        </div>
                                        <div class=volume>
                                            <div class="context jsPlayer--contextVolume">
                                                <span class=jsPlayer--triggerVolume data-value=0></span>
                                                <span class=jsPlayer--triggerVolume class=jsPlayer--triggerVolume data-value=0.125></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.25></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.375></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.5></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.625></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.75></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.875></span>
                                                <span class=jsPlayer--triggerVolume data-value=1></span>
                                            </div>
                                        </div>
                                        <div class=fullscreen>
                                            <button class=jsPlayer--triggerFullscreen></button>
                                        </div>
                                        <div class=progressbar>
                                            <div class="progress jsPlayer--triggerTimeline">
                                                <span class="current jsPlayer--progress"></span>
                                                <span class="buffer jsPlayer--buffer"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section class="quote jsWaypoint--appearReveal x-left zview-foreground jsWaypoint--whiteSkinOn" data-offset=60%>
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=cell>
                                        <div class="description text__color--white is--bigger">
                                            <p>Sometimes I just think about that incident, I wonder if someone else was in your place what would have happened? I'm pretty sure no one else would have forgave me for what I did, but somehow you took the courage and not only forgave me but also kept on trusting me even after. I know you'll say that I think too much about it, but yes I have so much gratitude for you, you took out the best from me at the worst moments of my life.</p>
                                            <p>Thanks a lot Cutie Pie <img src="/public/smileys/heart.png" style="width: 5%" alt=""> Thank you for trusting me then, I promise I will never let you down ever <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class=poster-single__separator></div>
                    </div>
                    <div class=jsWaypoint--next></div>
                    <div class="single-next__dummy jsWaypoint--whiteSkinOn"></div>
                    <div class="single-next jsScrollNext--view">
                        <div class=fill></div>
                        <div class=inner>
                            <div class=shape></div>
                            <h3 class="h1 text__color--white">
                                <p class="jsScrollNext--link false-link" data-href="/story4.html">Next</p>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class=launcher id=jsLauncher--view>
                <div class=fill></div>
                <div class=canvas></div>
            </div>
            <div class=main-transition id=jsView--transition></div>
            <div class="main-progress jsProgress" id=jsView--progress></div>
        </div>
        <script src="/public/build/top0af3.js"></script>
        <script src="/public/build/frontd3fe.js"></script>
    </body>
</html>
</div>
