<!doctype html>
<html class="no-js lang-en currentView--single" lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Happy Birthday Sunshine <3</title>
        <meta name=robots content="index, follow">
        
        <meta property=og:image content="/public/img/logo.png">
        <meta property=og:image:type content=image/jpeg>
        <meta property=og:image:width content="934">
        <meta property=og:image:height content="942">
        <meta property=og:type content=website>
        
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#000000>
        <link rel=stylesheet type=text/css href="/public/build/front4848.css" media=all>
        <script>
            var config = {
                env: "production",
                lang: "en",
                pathAssets: "/public",
                pathRoot: "/"
            }
                , manifestImg = {
                dMapContact: "/public/img/wave.jpg",
                dMapLauncher: "/public/img/bump.jpg",
                spriteContact: "/public/img/smiley.png",
                spriteRevertContact: "/public/img/smiley-revert.png",
                spriteSolitaire: "/public/img/file.png"
            }
                , wording = {
                ctaFilter: "",
                ctaFilterClose: ""
            }
        </script>
    </head>
    <body>
        <div id=master>
            <header class=logo-index>
                <span><img src="/public/img/heart.png" style="width: 5%" alt=""></span>
            </header>
            <div class=ui>
                <button class="btn-menu jsMainnav--trigger">
                    <div class=visuallyhidden>Menu</div>
                    <div class="shape none">
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            
            <div class="main-nav none" id="jsView--mainnav">
                <div class=fill></div>
                <div class="main-nav__inner">
                    <nav class=primary-nav>
                        <menu class="primary-nav__menu">
                            <li data-slug="work">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Work</a>
                            </li>
                            <li data-slug="about">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">About</a>
                            </li>
                            <li data-slug="contact">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Contact</a>
                            </li>
                        </menu>
                        <div class="primary-nav__canvas jsCanvas"></div>
                    </nav>
                    <nav class="secondary-nav">
                        <ul class=secondary-nav__menu>
                            <li>
                                <a class=no-barba href="#" target=_blank>Twitter</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Instagram</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Behance</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Dribbble</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Facebook</a>
                            </li>
                            <li>
                                <a class=no-barba href="" target=_blank></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="fixed-nav none">
                <ul class=fixed-nav__menu>
                    <li data-slug="work">
                        <a href="#" class=jsMenu--listener>Work</a>
                    </li>
                    <li data-slug="about">
                        <a href="#" class=jsMenu--listener>About</a>
                    </li>
                    <li data-slug="contact">
                        <a href="#" class=jsMenu--listener>Contact</a>
                    </li>
                </ul>
            </div>
            <div class=main-content id=barba-wrapper role=main>
                <div class="barba-container for--single" data-namespace="single">
                    <ul class=breadcrumb>
                        <li>
                            <h2>Bachi Jahi</h2>
                        </li>
                    </ul>
                    <div class=single-progression>
                        <div class="bar jsProgress"></div>
                    </div>
                    <div class=cover-dummy></div>
                    <div class="cover fxCover jsSplashscreen--view">
                        <div class=cachea></div>
                        <div class=cacheb></div>
                        <div class=inner>
                            <div class="fill jsMask"></div>
                            <div class="bg jsImage" style="background-image:url(/public/images/23.jpeg);background-image:-webkit-image-set( url('/public/images/23.jpeg') 1x, url('/public/images/23.jpeg') 2x );background-image:image-set( url('/public/images/23.jpeg') 1x, url('/public/images/23.jpeg') 2x );">
                                <img src="/public/images/23.jpeg" srcset="/public/images/23.jpeg 2x" alt="" class=visuallyhidden>
                            </div>
                            <div class="bg-mobile jsImageMobile" style="background-image:url(/public/images/23.jpeg)"></div>
                        </div>
                    </div>
                    <div class=jsWaypoint--zIndexOrder></div>
                    <div class=single-container>
                        <section class="introduction jsWaypoint--whiteSkinOn jsWaypoint--appearIntroduction">
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <h1 class="description text__color--white">
                                        <p class="p1">
                                            <span class="s1">Sun shines bright, But not brighter than your smile <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> Hehe I know i'm obsessed with your smile.</span>
                                        </p>
                                        <p class="p1">
                                            <span class="s1">And if you remember correctly I edited this image <img src="/public/smileys/tongue.png" style="width: 5%" alt=""> Jokes apart, You look stunning in this dress <img src="/public/smileys/hearteye.png" style="width: 5%" alt=""> That blue scenic background, blue ocean spread to horizon and then there's you in Red dress <img src="/public/smileys/heart.png" style="width: 5%" alt=""></span>
                                        </p>
                                        <p class="p1">
                                            <span class="s1">And you rocked the Red <img src="/public/smileys/heart.png" style="width: 5%" alt=""></span>
                                        </p>
                                    </h1>
                                </div>
                            </div>
                        </section>
                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground reduced--marginb" data-width="1440" data-height="810" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:;"></div>
                                    <img src="/public/images/24.jpg" srcset="/public/images/24.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                                                
                        <div class="poster-multiple jsWaypoint--appearReveal zview-foreground for--2 reduced--marginb" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="item y-center" data-width="1800" data-height="2024">
                                        <div class=wrapper>
                                            <img src="/public/images/26.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                    <div class="item y-center" data-width="1800" data-height="2024">
                                        <div class=wrapper>
                                            <img src="/public/images/27.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="intertext jsWaypoint--appearReveal zview-foreground x-right" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="description is--smaller text__color--light">
                                        <p>Now, let's continue talking. I was talking about friendship right? Yeah right <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                        <p>If I ask you to describe our friendship, what would you say? Let me go first on this question.</p>
                                        <p>Well think of two most stubborn humans in the history of universe, with ego as high as Mount Everest, one north and other south pole, and then despite their differences, they can do anything for one another. <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        <p>They will always be there to shield another from harm, be there to listen to their sorrows, sympathize one another, care for each other, even give their life for another if need arises. They can be placed far from each other but will be connected forever <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        <p>Mai kamina aa na <img src="/public/smileys/tongue.png" style="width: 5%" alt=""> Jo mai chahnda o sb dosti di definition ch likhta <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=poster-single__separator></div>
                        <div class="poster-full jsWaypoint--appearReveal" data-offset=70%>
                            <div class=bg style="background-image:url(/public/images/28.jpg);background-image:-webkit-image-set( url('/public/images/28.jpg') 1x, url('/public/images/28.jpg') 2x );background-image:image-set( url('https://d3o1ynzsjoguzy.cloudfront.net/web/wp-content/uploads/2018/05/07192754/170424ED_DE_C-O_2-1920x1061.jpg') 1x, url('/public/images/28.jpg') 2x );">
                                <img src="/public/images/28.jpg" srcset="/public/images/28.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                        </div>
                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground reduced--marginb" data-width="3600" data-height="2024" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <img src="/public/images/29.jpg" srcset="/public/images/29.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        
                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground reduced--marginb" data-width="3600" data-height="2024" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <img src="/public/images/30.jpg" srcset="/public/images/30.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        <section class="quote jsWaypoint--appearReveal x-left zview-foreground jsWaypoint--whiteSkinOn" data-offset=60%>
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=cell>
                                        <div class="description text__color--white">
                                            <p>This above image reminded me of one lyrically awesome song. "Saadea ta lekha ch Black likhea, tere favorite Pink Pink balliye" hahahhahhahah <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""> <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                            <p>So we were at definition of friendship and friendships always contain a great touch of epic fights <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                            <p>And saade level di ego howe ta gah pai janda, haina <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="poster-single jsWaypoint--appearReveal x-left y-center zview-foreground" data-width="2342" data-height="1620" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <img src="/public/images/31.jpg" srcset="/public/images/31.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        <div class="poster-single jsWaypoint--appearReveal x-right y-center zview-foreground" data-width="2342" data-height="1620" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <img src="/public/images/32.jpg" srcset="/public/images/32.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        
                        <div class="stats zview-foreground jsWaypoint--whiteSkinOn jsWaypoint--appearReveal" data-offset=60%>
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=stats__item>
                                        <p class=h6>Chlo we'll talk about fights on next page. Eh khatam ho gya ethe hi <img src="/public/smileys/blush.png" style="width: 5%" alt=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=jsWaypoint--next></div>
                    <div class="single-next__dummy jsWaypoint--whiteSkinOn"></div>
                    <div class="single-next jsScrollNext--view">
                        <div class=fill></div>
                        <div class=inner>
                            <div class=shape></div>
                            <h3 class="h1 text__color--white">
                                <p class="jsScrollNext--link false-link" data-href="/story3.html">Next</p>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class=launcher id=jsLauncher--view>
                <div class=fill></div>
                <div class=canvas></div>
            </div>
            <div class=main-transition id=jsView--transition></div>
            <div class="main-progress jsProgress" id=jsView--progress></div>
        </div>
        <script src="/public/build/top0af3.js"></script>
        <script src="/public/build/frontd3fe.js"></script>
    </body>
</html>
</div>
