<!doctype html>
<html class="no-js lang-en currentView--single" lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Happy Birthday Sunshine <3</title>
        <meta name=robots content="index, follow">
        
        <meta property=og:image content="/public/img/logo.png">
        <meta property=og:image:type content=image/jpeg>
        <meta property=og:image:width content="934">
        <meta property=og:image:height content="942">
        <meta property=og:type content=website>
        
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#000000>
        <link rel=stylesheet type=text/css href="/public/build/front4848.css" media=all>
        <script>
            var config = {
                env: "production",
                lang: "en",
                pathAssets: "/public",
                pathRoot: "/"
            }
                , manifestImg = {
                dMapContact: "/public/img/wave.jpg",
                dMapLauncher: "/public/img/bump.jpg",
                spriteContact: "/public/img/smiley.png",
                spriteRevertContact: "/public/img/smiley-revert.png",
                spriteSolitaire: "/public/img/file.png"
            }
                , wording = {
                ctaFilter: "",
                ctaFilterClose: ""
            }
        </script>
    </head>
    <body>
        <div id=master>
            <header class=logo-index>
                <span><img src="/public/img/heart.png" style="width: 5%" alt=""></span>
            </header>
            <div class="ui none">
                <button class="btn-menu jsMainnav--trigger">
                    <div class=visuallyhidden>Menu</div>
                    <div class=shape>
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            <div class="main-nav none" id="jsView--mainnav">
                <div class=fill></div>
                <div class="main-nav__inner">
                    <nav class=primary-nav>
                        <menu class="primary-nav__menu">
                            <li data-slug="work">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Work</a>
                            </li>
                            <li data-slug="about">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">About</a>
                            </li>
                            <li data-slug="contact">
                                <a href="#" class="jsMenu--listener jsMainnav--hover">Contact</a>
                            </li>
                        </menu>
                        <div class="primary-nav__canvas jsCanvas"></div>
                    </nav>
                    <nav class="secondary-nav">
                        <ul class=secondary-nav__menu>
                            <li>
                                <a class=no-barba href="#" target=_blank>Twitter</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Instagram</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Behance</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Dribbble</a>
                            </li>
                            <li>
                                <a class=no-barba href="#" target=_blank>Facebook</a>
                            </li>
                            <li>
                                <a class=no-barba href="" target=_blank></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="fixed-nav none">
                <ul class=fixed-nav__menu>
                    <li data-slug="work">
                        <a href="#" class=jsMenu--listener>Work</a>
                    </li>
                    <li data-slug="about">
                        <a href="#" class=jsMenu--listener>About</a>
                    </li>
                    <li data-slug="contact">
                        <a href="#" class=jsMenu--listener>Contact</a>
                    </li>
                </ul>
            </div>
            <div class=main-content id=barba-wrapper role=main>
                <div class="barba-container for--single" data-namespace="single">
                    <ul class=breadcrumb>
                        <li>
                            <h2>Sunshine</h2>
                        </li>
                    </ul>
                    <div class=single-progression>
                        <div class="bar jsProgress"></div>
                    </div>
                    <div class=cover-dummy></div>
                    <div class="cover fxCover jsSplashscreen--view">
                        <div class=cachea></div>
                        <div class=cacheb></div>
                        <div class=inner>
                            <div class="fill jsMask"></div>
                            <div class="bg jsImage" style="background-image:url(/public/images/13.jpg);background-image:-webkit-image-set( url('/public/images/13.jpg') 1x, url('/public/images/13.jpg') 2x );background-image:image-set( url('/public/images/13.jpg') 1x, url('/public/images/13.jpg') 2x );">
                                <img src="/public/images/13.jpg" srcset="/public/images/13.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                            <div class="bg-mobile jsImageMobile" style="background-image:url(/public/images/13.jpg)"></div>
                        </div>
                    </div>
                    <div class=jsWaypoint--zIndexOrder></div>
                    <div class=single-container>
                        <section class="introduction jsWaypoint--whiteSkinOn jsWaypoint--appearIntroduction">
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <h1 class="description text__color--white">
                                        <p id="countdown" class="countdown box-countdown animation fadeInUp"></p>
                                        <p>I can't get enough of this pic <img src="/public/smileys/heart.png" style="width: 5%" alt=""> You look so beautiful in it. When i first saw this pic, i was like how can someone be this cute. Just look at it, yeah, just look at it.</p>
                                        <p>That perfect smile is there <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        <p>Those deep n expressive eyes are there <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        <p>That black n white combination is there <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                        <p>What else can you ask for? <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </h1>
                                </div>
                            </div>
                        </section>
                        <div class="poster-single jsWaypoint--appearReveal x-center y-bottom zview-foreground reduced--marginb" data-width="1440" data-height="4239" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:;"></div>
                                    <img src="/public/images/14.jpg" srcset="/public/images/14.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        <div class="poster-multiple jsWaypoint--appearReveal zview-foreground for--2" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="item y-center" data-width="1440" data-height="4026">
                                        <div class=wrapper>
                                            <div class=border style="background-color:#efefef;"></div>
                                            <img src="/public/images/15.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                    <div class="item y-center" data-width="1440" data-height="3161">
                                        <div class=wrapper>
                                            <div class=border style="background-color:#efefef;"></div>
                                            <img src="/public/images/16.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intertext jsWaypoint--appearReveal zview-foreground x-right" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="description is--smaller text__color--light">
                                        <p>You know what, I won't talk about memories this time. I will just talk about you and then maybe about us too. Yeah well, mostly us <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                        <p>There were times when I thought about friendships in a very different way. I was like yeah we are friends, we'll hang out together, help each other and that's it, that's how we stay friends.</p>
                                        <p>Then I met you, and you made me change my perspective. I believed earlier that girls n boys can't stay friends, but here we are after 7 years, still friend, no, "Best Friends". It was you who understood me, adjusted with me, tolerated me and was generous enough to give "Best Friend" title to this over-demanding fool <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground" data-width="3600" data-height="2024" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <img src="/public/images/17.jpg" srcset="/public/images/17.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        <div class="poster-full jsWaypoint--appearReveal" data-offset=70%>
                            <div class=bg style="background-image:url(/public/images/18.jpg);background-image:-webkit-image-set( url('/public/images/18.jpg') 1x, url('/public/images/18.jpg') 2x );background-image:image-set( url('/public/images/18.jpg') 1x, url('/public/images/18.jpg') 2x );">
                                <img src="/public/images/18.jpg" srcset="/public/images/18.jpg 2x" alt="" class=visuallyhidden>
                            </div>
                        </div>
                        <div class="poster-single jsWaypoint--appearReveal x-center y-bottom zview-foreground with--border" data-width="1440" data-height="4665" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:;"></div>
                                    <img src="/public/images/19.jpg" srcset="/public/images/19.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        <div class="intertext jsWaypoint--appearReveal zview-foreground x-right" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="description is--smaller text__color--light">
                                        <p>I'm not sure my words would make much sense, but I'm writing them anyway <img src="/public/smileys/sweatwithsmile.png" style="width: 5%" alt=""> Sorry in advance for this torture hehe.</p>
                                        <p>We haven't spent much time together (well i'm not counting calls and chats we have <img src="/public/smileys/tongue.png" style="width: 5%" alt="">) but you made me understand friendship is never about that. Friendship grows and thrives by giving priorities, listening to each other, always being there when other needs, occasional fights, 0 expectations and most importantly by having trust on each other. You have done everything for me which a person can ask for.</p>
                                        <p>We have fought, we have talked for straight 5 hours on phone, we did chats by staying awake at nights. Even after all those things you still understand me when i'm busy. You never fight if i miss to text or call you for a week even (yeah but showing discontent is a separate thing <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt="">). </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class=poster-single__separator></div>
                        <div class="video-bg jsWaypoint--appearReveal zview-foreground jsPlayer--context jsVideoLoop--view jsWaypoint--autoplay no--marginb" data-offset=70%>
                            <button class="btn-play jsPlayer--trigger">
                                <span class=shape></span>
                            </button>
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <video muted loop class="element jsPlayer--video" height=100% width=100% style="height: 80em;">
                                        <source src="/public/vid/smile.mp4" type=video/mp4>
                                    </video>
                                    <div class=controls>
                                        <div class=playpause>
                                            <button class=jsPlayer--triggerPlaypause></button>
                                        </div>
                                        <div class=timer>
                                            <span class="current jsPlayer--currentTime">--:--</span>
                                            <span class="total jsPlayer--duration">/ --:--</span>
                                        </div>
                                        <div class=volume>
                                            <div class="context jsPlayer--contextVolume">
                                                <span class=jsPlayer--triggerVolume data-value=0></span>
                                                <span class=jsPlayer--triggerVolume class=jsPlayer--triggerVolume data-value=0.125></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.25></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.375></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.5></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.625></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.75></span>
                                                <span class=jsPlayer--triggerVolume data-value=0.875></span>
                                                <span class=jsPlayer--triggerVolume data-value=1></span>
                                            </div>
                                        </div>
                                        <div class=fullscreen>
                                            <button class=jsPlayer--triggerFullscreen></button>
                                        </div>
                                        <div class=progressbar>
                                            <div class="progress jsPlayer--triggerTimeline">
                                                <span class="current jsPlayer--progress"></span>
                                                <span class="buffer jsPlayer--buffer"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intertext jsWaypoint--appearReveal zview-foreground x-right" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="description is--smaller text__color--light">
                                        <p>Yeah, I know I know what you are thinking,"Eh video v add krti kamine ne." <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></p>
                                        <p>One thing that I love the most in you is your gorgeous smile <img src="/public/smileys/heart.png" style="width: 5%" alt=""> When you smile I smile too <img src="/public/smileys/blush.png" style="width: 5%" alt=""> Please keep smiling always.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class=poster-single__separator></div>
                        <div class="poster-multiple jsWaypoint--appearReveal zview-foreground for--2 reduced--marginb" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="item y-bottom with--border" data-width="1440" data-height="2742">
                                        <div class=wrapper>
                                            <div class=border style="background-color:;"></div>
                                            <img src="/public/images/20.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                    <div class="item y-bottom with--border" data-width="1440" data-height="2742">
                                        <div class=wrapper>
                                            <div class=border style="background-color:;"></div>
                                            <img src="/public/images/21.jpg" alt="" class=visual>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class=poster-single__separator></div>
                        
                        <div class="intertext jsWaypoint--appearReveal zview-foreground x-left" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class="description is--smaller text__color--light">
                                        <p>Now, I was talking about friendship.</p>
                                        <p>With that I mentioned priorities. I don't know much about it, but I know you give me so much attention. You call me whenever you are free, travelling or just sitting on the front desk while on job <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></p>
                                        <p>You spare time for me, put efforts to talk to me, always confide in me and trust me that I won't let you down. Thank you so much for giving me this much space in your life <img src="/public/smileys/heart.png" style="width: 5%" alt=""></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="poster-single jsWaypoint--appearReveal x-center y-center zview-foreground" data-width="1440" data-height="4828" data-offset=70%>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=border style="background-color:;"></div>
                                    <img src="/public/images/22.jpg" srcset="/public/images/22.jpg 2x" alt="" class=visual>
                                </div>
                            </div>
                        </div>
                        <div class=poster-single__separator></div>
                        
                        <section class="quote jsWaypoint--appearReveal x-left zview-foreground jsWaypoint--whiteSkinOn" data-offset=60%>
                            <div class=fill></div>
                            <div class=inner>
                                <div class=subinner>
                                    <div class=cell>
                                        <div class="description text__color--white is--bigger">
                                            <h1>To be continued... <img src="/public/smileys/tearslaugh.png" style="width: 5%" alt=""></h1>
                                        </div>
                                        <h5 class=author>Page khatam ho gya but meria glla nhi. Chlo agge continue krde aa <img src="/public/smileys/tongue.png" style="width: 5%" alt=""></h5>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <div class=poster-single__separator></div>
                        
                    </div>
                    <div class=jsWaypoint--next></div>
                    <div class="single-next__dummy jsWaypoint--whiteSkinOn"></div>
                    <div class="single-next jsScrollNext--view">
                        <div class=fill></div>
                        <div class=inner>
                            <div class=shape></div>
                            <h3 class="h1 text__color--white">
                                <p class="jsScrollNext--link false-link" data-href="/story2.html">Next</p>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class=launcher id=jsLauncher--view>
                <div class=fill></div>
                <div class=canvas></div>
            </div>
            <div class=main-transition id=jsView--transition></div>
            <div class="main-progress jsProgress" id=jsView--progress></div>
        </div>
        <script src="/public/build/top0af3.js"></script>
        <script src="/public/build/frontd3fe.js"></script>
    </body>
</html>
</div>
